services:
  database:
    image: "zulip/zulip-postgresql:14"
    restart: unless-stopped
    environment:
      POSTGRES_DB: "zulip"
      POSTGRES_USER: "zulip"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    volumes:
      - "postgresql-14:/var/lib/postgresql/data:rw"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U zulip -d zulip"]
      interval: 5s
      timeout: 5s
      retries: 10

  memcached:
    image: "memcached:alpine"
    restart: unless-stopped
    command:
      - "sh"
      - "-euc"
      - |
        echo 'mech_list: plain' > "$$SASL_CONF_PATH"
        echo "zulip@$$HOSTNAME:$$MEMCACHED_PASSWORD" > "$$MEMCACHED_SASL_PWDB"
        echo "zulip@localhost:$$MEMCACHED_PASSWORD" >> "$$MEMCACHED_SASL_PWDB"
        exec memcached -S
    environment:
      SASL_CONF_PATH: "/home/memcache/memcached.conf"
      MEMCACHED_SASL_PWDB: "/home/memcache/memcached-sasl-db"
      MEMCACHED_PASSWORD: "${MEMCACHED_PASSWORD}"

  rabbitmq:
    image: "rabbitmq:4.1"
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: "zulip"
      RABBITMQ_DEFAULT_PASS: "${RABBITMQ_PASSWORD}"
    volumes:
      - "rabbitmq:/var/lib/rabbitmq:rw"

  redis:
    image: "redis:alpine"
    restart: unless-stopped
    command:
      - "sh"
      - "-euc"
      - |
        echo "requirepass '$$REDIS_PASSWORD'" > /etc/redis.conf
        exec redis-server /etc/redis.conf
    environment:
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
    volumes:
      - "redis:/data:rw"

  zulip:
    image: "zulip/docker-zulip:11.4-0"
    restart: unless-stopped
    expose:
      - "80"
      - "443"
    ports:
      - "25"
    networks:
      - dokploy-network
    environment:
      DB_HOST: "database"
      DB_HOST_PORT: "5432"
      DB_USER: "zulip"
      SSL_CERTIFICATE_GENERATION: "self-signed"
      SETTING_MEMCACHED_LOCATION: "memcached:11211"
      SETTING_RABBITMQ_HOST: "rabbitmq"
      SETTING_REDIS_HOST: "redis"
      SECRETS_email_password: "${EMAIL_PASSWORD}"
      SECRETS_rabbitmq_password: "${RABBITMQ_PASSWORD}"
      SECRETS_postgres_password: "${POSTGRES_PASSWORD}"
      SECRETS_memcached_password: "${MEMCACHED_PASSWORD}"
      SECRETS_redis_password: "${REDIS_PASSWORD}"
      SECRETS_secret_key: "${SECRET_KEY}"
      SETTING_EXTERNAL_HOST: "${EXTERNAL_HOST}"
      SETTING_ZULIP_ADMINISTRATOR: "${ZULIP_ADMINISTRATOR}"
      SETTING_EMAIL_HOST: "${EMAIL_HOST}"
      SETTING_EMAIL_HOST_USER: "${EMAIL_HOST_USER}"
      SETTING_EMAIL_PORT: "${EMAIL_PORT}"
      SETTING_EMAIL_USE_SSL: "${EMAIL_USE_SSL}"
      SETTING_EMAIL_USE_TLS: "${EMAIL_USE_TLS}"
      ZULIP_AUTH_BACKENDS: "EmailAuthBackend"
      LOADBALANCER_IPS: ""
    volumes:
      - "zulip:/data:rw"
    ulimits:
      nofile:
        soft: 1000000
        hard: 1048576
    depends_on:
      database:
        condition: service_healthy
      memcached:
        condition: service_started
      rabbitmq:
        condition: service_started
      redis:
        condition: service_started

volumes:
  zulip:
  postgresql-14:
  rabbitmq:
  redis:

networks:
  dokploy-network:
    external: true

