[variables]
webapp_domain = "${domain}"
registry_domain = "${domain}"
session_secret = "${hash:32}"
magic_link_secret = "${hash:32}"
encryption_key = "${hash:32}"
managed_worker_secret = "${hash:32}"
db_user = "postgres"
db_password = "${password:24}"
db_name = "triggerdb"
clickhouse_user = "default"
clickhouse_password = "${password:16}"
docker_registry_username = "registry-user"
docker_registry_password = "${password:16}"
docker_registry_namespace = "trigger"
object_store_access_key_id = "${username}"
object_store_secret_access_key = "${password:24}"
minio_root_user = "admin"
minio_root_password = "${password:24}"

[config]
mounts = []

[[config.domains]]
serviceName = "webapp"
port = 3000
host = "${webapp_domain}"

[[config.domains]]
serviceName = "registry"
port = 5000
host = "${registry_domain}"

[config.env]
LOGGING_DRIVER="local"
LOGGING_MAX_SIZE="20m"
LOGGING_MAX_FILES="5"
LOGGING_COMPRESS="true"

TRIGGER_IMAGE_TAG="v4-beta"
RESTART_POLICY="unless-stopped"

APP_ORIGIN="http://${webapp_domain}"
LOGIN_ORIGIN="http://${webapp_domain}"
API_ORIGIN="http://${webapp_domain}"
DATABASE_URL="postgresql://${db_user}:${db_password}@postgres:5432/${db_name}?schema=public&sslmode=disable"
DIRECT_URL="postgresql://${db_user}:${db_password}@postgres:5432/${db_name}?schema=public&sslmode=disable"
SESSION_SECRET="${session_secret}"
MAGIC_LINK_SECRET="${magic_link_secret}"
ENCRYPTION_KEY="${encryption_key}"
TRIGGER_WORKER_TOKEN="${trigger_worker_token}"
MANAGED_WORKER_SECRET="${managed_worker_secret}"
DEV_OTEL_EXPORTER_OTLP_ENDPOINT="http://${webapp_domain}/otel"
DEPLOY_REGISTRY_HOST="${registry_domain}"
DEPLOY_REGISTRY_NAMESPACE="${docker_registry_namespace}"
DEPLOY_IMAGE_PLATFORM="linux/amd64"
OBJECT_STORE_BASE_URL="http://minio:9000"
OBJECT_STORE_ACCESS_KEY_ID="${object_store_access_key_id}"
OBJECT_STORE_SECRET_ACCESS_KEY="${object_store_secret_access_key}"
NODE_MAX_OLD_SPACE_SIZE="3200"
CLICKHOUSE_URL="http://${clickhouse_user}:${clickhouse_password}@clickhouse:8123?secure=false"
CLICKHOUSE_LOG_LEVEL="info"
RUN_REPLICATION_ENABLED="1"
RUN_REPLICATION_CLICKHOUSE_URL="http://${clickhouse_user}:${clickhouse_password}@clickhouse:8123"
RUN_REPLICATION_LOG_LEVEL="info"
INTERNAL_OTEL_TRACE_LOGGING_ENABLED="0"
EMAIL_TRANSPORT=""
FROM_EMAIL=""
REPLY_TO_EMAIL=""
SMTP_HOST=""
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASSWORD=""
RESEND_API_KEY=""
AUTH_GITHUB_CLIENT_ID=""
AUTH_GITHUB_CLIENT_SECRET=""
WHITELISTED_EMAILS=""

POSTGRES_IMAGE_TAG="14"
POSTGRES_USER="${db_user}"
POSTGRES_PASSWORD="${db_password}"
POSTGRES_DB="${db_name}"

REDIS_IMAGE_TAG="7"

ELECTRIC_IMAGE_TAG="1.2.4"

CLICKHOUSE_IMAGE_TAG="latest"
CLICKHOUSE_USER="${clickhouse_user}"
CLICKHOUSE_PASSWORD="${clickhouse_password}"

REGISTRY_IMAGE_TAG="2"

MINIO_IMAGE_TAG="latest"
MINIO_ROOT_USER="${minio_root_user}"
MINIO_ROOT_PASSWORD="${minio_root_password}"