version: "3.8"

services:
  mule:
    image: hari1367709/mule-community1:4.9.0
    restart: unless-stopped
    ports:
      - 8081
      - 1099
    volumes:
      - mule-logs:/opt/mule-standalone/logs
      - mule-conf:/opt/mule-standalone/conf
      - mule-apps:/opt/mule-standalone/apps
      - mule-domains:/opt/mule-standalone/domains
    environment:
      - MULE_HOME=/opt/mule-standalone
      - MULE_BASE=/opt/mule-standalone
      - TZ=UTC
      - MULE_VERBOSE_EXCEPTIONS=true
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8081/ || exit 0"]
      interval: 60s
      timeout: 20s
      retries: 5
      start_period: 120s

volumes:
  mule-logs: {}
  mule-conf: {}
  mule-apps: {}
  mule-domains: {}

