version: "3.8"

services:
  minio:
    # after RELEASE.2025-04-22T22-12-26Z, minio removed most of the admin UI,
    # if you want to use the admin UI, uncomment the line below
    # image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    # if you uncommented the line above, comment the line below
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    restart: unless-stopped
    volumes:
      # by default, the MinIO container will use a volume named minio-data
      # to store its data. This volume is created automatically by Docker.
      # If you want to use a local directory instead, uncomment the line below
      # and specify the path to your local directory.
      # (be warned that ../files is pointing to a subdirectory of /etc/dokploy/compose in dokploy)
      # - ../files/minio-data:/data
      # if you uncommented the line above, comment the line below and the volumes section at the end
      - minio-data:/data
    environment:
      - MINIO_API_CORS_ALLOW_ORIGIN
      - MINIO_API_CORS_ALLOW_CREDENTIALS_WITH_WILDCARD
      - MINIO_BROWSER
      - MINIO_BROWSER_CONTENT_SECURITY_POLICY
      - MINIO_BROWSER_LOGIN_ANIMATION
      - MINIO_BROWSER_REDIRECT
      - MINIO_BROWSER_REDIRECT_URL
      - MINIO_BROWSER_REFERRER_POLICY
      - MINIO_BROWSER_SESSION_DURATION
      - MINIO_COMPRESSION_ALLOW_ENCRYPTION
      - MINIO_COMPRESSION_ENABLE
      - MINIO_COMPRESSION_EXTENSIONS
      - MINIO_DOMAIN
      - MINIO_REGION
      - MINIO_ROOT_PASSWORD
      - MINIO_ROOT_USER
      - MINIO_SERVER_URL
    command: server /data --console-address ":9001"
    ports:
      - 9000:9000
      - 9001:9001

# Comment the line below if you specified a local directory 
volumes:
  minio-data: {}
