[variables]
main_domain = "${domain}"
secret_base = "${base64:64}"
totp_key = "${base64:32}"

[[config.domains]]
serviceName = "plausible"
port = 8_000
host = "${main_domain}"

[config.env]
BASE_URL = "http://${main_domain}"
SECRET_KEY_BASE = "${secret_base}"
TOTP_VAULT_KEY = "${totp_key}"

[[config.mounts]]
filePath = "/clickhouse/logs.xml"
content = """
<clickhouse>
  <logger>
    <level>warning</level>
    <console>true</console>
  </logger>

  <query_log>
    <database>system</database>
    <table>query_log</table>
    <engine>Engine = MergeTree PARTITION BY event_date ORDER BY event_time TTL event_date + interval 30 day</engine>
    <flush_interval_milliseconds>7500</flush_interval_milliseconds>
  </query_log>

  <!-- Stops unnecessary logging -->
  <metric_log remove="remove"/>
  <asynchronous_metric_log remove="remove"/>
  <query_thread_log remove="remove"/>
  <text_log remove="remove"/>
  <trace_log remove="remove"/>
  <session_log remove="remove"/>
  <part_log remove="remove"/>
</clickhouse>
"""

[[config.mounts]]
filePath = "/clickhouse/ipv4-only.xml"
content = """
<clickhouse>
  <listen_host>0.0.0.0</listen_host>
</clickhouse>
"""

[[config.mounts]]
filePath = "/clickhouse/low-resources.xml"
content = """
<clickhouse>
  <mark_cache_size>524288000</mark_cache_size>

  <profiles>
    <default>
      <max_threads>1</max_threads>
      <max_block_size>8192</max_block_size>
      <max_download_threads>1</max_download_threads>
      <input_format_parallel_parsing>0</input_format_parallel_parsing>
      <output_format_parallel_formatting>0</output_format_parallel_formatting>
    </default>
  </profiles>
</clickhouse>
"""
