services:
  openclaw-gateway:
    image: ghcr.io/openclaw/openclaw:2026.1.29
    environment:
      HOME: /home/node
      TERM: xterm-256color
      OPENCLAW_GATEWAY_TOKEN: ${OPENCLAW_GATEWAY_TOKEN}
      CLAUDE_AI_SESSION_KEY: ${CLAUDE_AI_SESSION_KEY}
      CLAUDE_WEB_SESSION_KEY: ${CLAUDE_WEB_SESSION_KEY}
      CLAUDE_WEB_COOKIE: ${CLAUDE_WEB_COOKIE}
      OPENCLAW_GATEWAY_URL: ws://0.0.0.0:18789
      OPENROUTER_API_KEY: ${OPENROUTER_API_KEY}
    volumes:
      - openclaw-config:/home/node/.openclaw
      - openclaw-workspace:/home/node/.openclaw/workspace
    ports:
      - "18789"
      - "18790"
    init: true
    restart: unless-stopped
    command:
      [
        "node",
        "dist/index.js",
        "gateway",
        "--bind",
        "auto",
        "--port",
        "18789",
        "--allow-unconfigured",
      ]

volumes:
  openclaw-config:
  openclaw-workspace:
