[variables]
domain_var = "${domain}"
postgres_pass_var = "${password:24}"
app_secret_var = "${base64:32}"
minio_pass_var = "${password:24}"
minio_user_var = "minioadmin"
workspace_name_var = "Dittofeed"
node_env_var = "production"

[config]

[[config.domains]]
serviceName = "dittofeed-lite"
port = 3000
host = "${domain_var}"
path = "/"
# This ENV block populates the Docker Compose environment
env = [
    "MAIN_DOMAIN=${domain_var}",
    "POSTGRES_PASSWORD=${postgres_pass_var}",
    "APP_SECRET=${app_secret_var}",
    "MINIO_PASSWORD=${minio_pass_var}",
    "MINIO_USER=${minio_user_var}",
    "WORKSPACE_NAME=${workspace_name_var}",
    "NODE_ENV=${node_env_var}"
]

[[config.mounts]]
type = "volume"
source = "postgres_data"
target = "/var/lib/postgresql/data"

[[config.mounts]]
type = "volume"
source = "clickhouse_data"
target = "/var/lib/clickhouse"

[[config.mounts]]
type = "volume"
source = "minio_data"
target = "/data"