[variables]
main_domain = "${domain}"
postgres_password = "${password:24}"
app_secret = "${base64:32}"
minio_password = "${password:24}"
minio_user = "minioadmin"
workspace_name = "Dittofeed"
node_env = "production"

[config]

[[config.domains]]
serviceName = "dittofeed-lite"
port = 3000
host = "${main_domain}"
path = "/"
env = [
    "NODE_ENV=${node_env}",
    "WORKSPACE_NAME=${workspace_name}",
    "DASHBOARD_URL=https://${main_domain}",
    "DASHBOARD_API_BASE=https://${main_domain}",
    "POSTGRES_PASSWORD=${postgres_password}",
    "SECRET_KEY=${app_secret}",
    "MINIO_ROOT_USER=${minio_user}",
    "MINIO_ROOT_PASSWORD=${minio_password}",
    "DATABASE_URL=postgres://dittofeed:${postgres_password}@postgres:5432/dittofeed",
    "BLOB_STORAGE_ACCESS_KEY_ID=${minio_user}",
    "BLOB_STORAGE_SECRET_ACCESS_KEY=${minio_password}"
]

[[config.mounts]]
type = "volume"
source = "postgres_data"
target = "/var/lib/postgresql/data"

[[config.mounts]]
type = "volume"
source = "clickhouse_data"
target = "/var/lib/clickhouse"

[[config.mounts]]
type = "volume"
source = "minio_data"
target = "/data"