[variables]
main_domain = "${domain}"
postgres_password = "${password:24}"
# Dittofeed Secret Key
app_secret = "${base64:32}"
# MinIO Credentials
minio_user = "minioadmin"
minio_password = "${password:24}"

[config]

# --- Domain Configuration for Dittofeed Web ---
[[config.domains]]
serviceName = "dittofeed-lite"
port = 3000
host = "${main_domain}"
path = "/"

# --- Persistent Storage ---
[[config.mounts]]
type = "volume"
source = "postgres_data"
target = "/var/lib/postgresql/data"

[[config.mounts]]
type = "volume"
source = "clickhouse_data"
target = "/var/lib/clickhouse"

[[config.mounts]]
type = "volume"
source = "minio_data"
target = "/data"