
[variables]
webapp_domain = "${domain}"
session_secret = "${hash:32}"
magic_link_secret = "${hash:32}"
encryption_key = "${hash:32}"
managed_worker_secret = "${hash:32}"
db_user = "postgres"
db_password = "${password:24}"
db_name = "triggerdb"
clickhouse_user = "default"
clickhouse_password = "${password:16}"
docker_registry_username = "registry-user"
docker_registry_password = "${password:16}"
deploy_registry_namespace = "trigger"
object_store_access_key_id = "${username}"
object_store_secret_access_key = "${password:24}"
minio_root_user = "admin"
minio_root_password = "${password:24}"

[config]
mounts = []

[[config.domains]]
serviceName = "webapp"
port = 3000
host = "${webapp_domain}"

[config.env]
LOGGING_DRIVER = "local"
LOGGING_MAX_SIZE = "20m"
LOGGING_MAX_FILES = "5"
LOGGING_COMPRESS = "true"
RESTART_POLICY = "unless-stopped"

SESSION_SECRET = "${session_secret}"
MAGIC_LINK_SECRET = "${magic_link_secret}"
ENCRYPTION_KEY = "${encryption_key}"
MANAGED_WORKER_SECRET = "${managed_worker_secret}"
POSTGRES_USER = "${db_user}"
POSTGRES_PASSWORD = "${db_password}"
POSTGRES_DB = "${db_name}"
DATABASE_URL = "postgresql://${db_user}:${db_password}@postgres:5432/${db_name}?schema=public&sslmode=disable"
DIRECT_URL = "postgresql://${db_user}:${db_password}@postgres:5432/${db_name}?schema=public&sslmode=disable"
TRIGGER_IMAGE_TAG = "v4-beta"
APP_ORIGIN = "http://${webapp_domain}"
LOGIN_ORIGIN = "http://${webapp_domain}"
API_ORIGIN = "http://${webapp_domain}"
DEV_OTEL_EXPORTER_OTLP_ENDPOINT = "http://${webapp_domain}/otel"
NODE_MAX_OLD_SPACE_SIZE = "3200"
CLICKHOUSE_USER = "${clickhouse_user}"
CLICKHOUSE_PASSWORD = "${clickhouse_password}"
CLICKHOUSE_URL = "http://${clickhouse_user}:${clickhouse_password}@clickhouse:8123?secure=false"
CLICKHOUSE_LOG_LEVEL = "info"
RUN_REPLICATION_ENABLED = "1"
RUN_REPLICATION_CLICKHOUSE_URL = "http://${clickhouse_user}:${clickhouse_password}@clickhouse:8123"
RUN_REPLICATION_LOG_LEVEL = "info"
INTERNAL_OTEL_TRACE_LOGGING_ENABLED = "0"
DEPLOY_REGISTRY_HOST = "${registry_domain}"
DOCKER_REGISTRY_URL = "localhost:5000"
DOCKER_REGISTRY_USERNAME = "${docker_registry_username}"
DOCKER_REGISTRY_PASSWORD = "${docker_registry_password}"
DEPLOY_REGISTRY_NAMESPACE = "${deploy_registry_namespace}"
DEPLOY_IMAGE_PLATFORM = "linux/amd64"
TRIGGER_API_URL = "http://webapp:3000"
OTEL_EXPORTER_OTLP_ENDPOINT = "http://webapp:3000/otel"
OBJECT_STORE_BASE_URL = "http://minio:9000"
OBJECT_STORE_ACCESS_KEY_ID = "${object_store_access_key_id}"
OBJECT_STORE_SECRET_ACCESS_KEY = "${object_store_secret_access_key}"
MINIO_ROOT_USER = "${minio_root_user}"
MINIO_ROOT_PASSWORD = "${minio_root_password}"
EMAIL_TRANSPORT=""
FROM_EMAIL=""
REPLY_TO_EMAIL=""
SMTP_HOST=""
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASSWORD=""
RESEND_API_KEY=""
AUTH_GITHUB_CLIENT_ID=""
AUTH_GITHUB_CLIENT_SECRET=""
WHITELISTED_EMAILS=""

POSTGRES_IMAGE_TAG = "14"
REDIS_IMAGE_TAG = "7"
ELECTRIC_IMAGE_TAG = "1.0.24"
CLICKHOUSE_IMAGE_TAG = "latest"
REGISTRY_IMAGE_TAG = "2"
MINIO_IMAGE_TAG = "latest"
DOCKER_PROXY_IMAGE_TAG = "latest"