version: "3.8"

services:
  web:
    image: artifacts.plane.so/makeplane/plane-frontend:${APP_RELEASE:-v1.2.1}
    restart: unless-stopped
    depends_on:
      - api
      - worker
    env_file:
      - .env

  space:
    image: artifacts.plane.so/makeplane/plane-space:${APP_RELEASE:-v1.2.1}
    restart: unless-stopped
    depends_on:
      - api
      - worker
      - web
    env_file:
      - .env

  admin:
    image: artifacts.plane.so/makeplane/plane-admin:${APP_RELEASE:-v1.2.1}
    restart: unless-stopped
    depends_on:
      - api
      - web
    env_file:
      - .env

  live:
    image: artifacts.plane.so/makeplane/plane-live:${APP_RELEASE:-v1.2.1}
    restart: unless-stopped
    depends_on:
      - api
      - web
    env_file:
      - .env

  api:
    image: artifacts.plane.so/makeplane/plane-backend:${APP_RELEASE:-v1.2.1}
    command: ./bin/docker-entrypoint-api.sh
    restart: unless-stopped
    volumes:
      - logs_api:/code/plane/logs
    depends_on:
      - plane-db
      - plane-redis
      - plane-mq
    env_file:
      - .env

  worker:
    image: artifacts.plane.so/makeplane/plane-backend:${APP_RELEASE:-v1.2.1}
    command: ./bin/docker-entrypoint-worker.sh
    restart: unless-stopped
    volumes:
      - logs_worker:/code/plane/logs
    depends_on:
      - api
      - plane-db
      - plane-redis
      - plane-mq
    env_file:
      - .env

  beat-worker:
    image: artifacts.plane.so/makeplane/plane-backend:${APP_RELEASE:-v1.2.1}
    command: ./bin/docker-entrypoint-beat.sh
    restart: unless-stopped
    volumes:
      - logs_beat-worker:/code/plane/logs
    depends_on:
      - api
      - plane-db
      - plane-redis
      - plane-mq
    env_file:
      - .env

  migrator:
    image: artifacts.plane.so/makeplane/plane-backend:${APP_RELEASE:-v1.2.1}
    command: ./bin/docker-entrypoint-migrator.sh
    restart: on-failure
    volumes:
      - logs_migrator:/code/plane/logs
    depends_on:
      - plane-db
      - plane-redis
    env_file:
      - .env

  plane-db:
    image: postgres:15.7-alpine
    command: postgres -c 'max_connections=1000'
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env

  plane-redis:
    image: valkey/valkey:7.2.11-alpine
    restart: unless-stopped
    volumes:
      - redisdata:/data
    env_file:
      - .env

  plane-mq:
    image: rabbitmq:3.13.6-management-alpine
    restart: unless-stopped
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    env_file:
      - .env

  plane-minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    command: server /export --console-address ":9090"
    restart: unless-stopped
    volumes:
      - uploads:/export
    env_file:
      - .env

  proxy:
    image: artifacts.plane.so/makeplane/plane-proxy:${APP_RELEASE:-v1.2.1}
    restart: unless-stopped
    volumes:
      - proxy_config:/config
      - proxy_data:/data
    depends_on:
      - web
      - api
      - space
      - admin
      - live
    env_file:
      - .env

volumes:
  pgdata:
  redisdata:
  uploads:
  logs_api:
  logs_worker:
  logs_beat-worker:
  logs_migrator:
  rabbitmq_data:
  proxy_config:
  proxy_data:
