[variables]
  NEXTCLOUD_DOMAIN = "${domain}"
  MYSQL_SECRET_PASSWORD = "${password:32}"
  MYSQL_SECRET_PASSWORD_ROOT = "${password:32}"
  DEFAULT_PHONE_REGION = "DE"

[config]
  [[config.domains]]
    serviceName = "nextcloud"
    port = 80
    host = "${NEXTCLOUD_DOMAIN}"

  [[config.env]]
    serviceName = "nextcloud"
    env = [
      "NEXTCLOUD_DOMAIN=${NEXTCLOUD_DOMAIN}",
      "MYSQL_SECRET_PASSWORD=${MYSQL_SECRET_PASSWORD}",
      "DEFAULT_PHONE_REGION=${DEFAULT_PHONE_REGION}",
      "OVERWRITEPROTOCOL=https",
      "TRUSTED_PROXIES=10.0.0.0/8 172.16.0.0/12",
      "REDIS_HOST=nextcloud_redis"
    ]

  [[config.env]]
    serviceName = "nextcloud_db"
    env = [
      "MYSQL_SECRET_PASSWORD=${MYSQL_SECRET_PASSWORD}",
      "MYSQL_SECRET_PASSWORD_ROOT=${MYSQL_SECRET_PASSWORD_ROOT}"
    ]