[variables]
main_domain = "${domain}"
postgres_password = "${password:32}"
zitadel_masterkey = "${password:32}"
org_name = "${username}"
admin_username = "${username}"
admin_password = "AdminPassword123!"

[config]
[[config.domains]]
serviceName = "zitadel"
port = 8080
host = "${main_domain}"
path = "/"

[config.env]
POSTGRES_PASSWORD = "${postgres_password}"
ZITADEL_MASTERKEY = "${zitadel_masterkey}"
EXTERNAL_DOMAIN = "${main_domain}"

# Custom Admin User Configuration
ZITADEL_FIRSTINSTANCE_ORG_NAME = "${org_name}"
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME = "${admin_username}"
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD = "${admin_password}"
ZITADEL_FIRSTINSTANCE_ORG_LOGINCLIENT_PAT_EXPIRATIONDATE = "2029-01-01T00:00:00Z"

[[config.mounts]]
filePath = "/current-dir/tls.crt"
content = "${base64:2048}"  # Placeholder; mount real certs externally

[[config.mounts]]
filePath = "/current-dir/tls.key"
content = "${base64:2048}"
